.DS_Store
**/.idea/
.vscode/
dist/

build/
sync/
*.userdb/
installation.yaml
user.yaml
!others/**/*.custom.yaml

others/script/scel2txt/out/*
others/script/scel2txt/scel/*
cn_dicts/temp.txt

*private*

rime_console
rime_deployer
rime_patch

double_pinyin_abc.schema.yaml
double_pinyin_flypy.schema.yaml
double_pinyin_jiajia.schema.yaml
double_pinyin_mspy.schema.yaml
double_pinyin_sogou.schema.yaml
double_pinyin_ziguang.schema.yaml
